[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
        ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
        ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
        ignore = dirty
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
        ignore = dirty
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/garbas/vim-snipmate.git
        ignore = dirty
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
        ignore = dirty
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
        ignore = dirty
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
        ignore = dirty
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = git://github.com/honza/snipmate-snippets.git
        ignore = dirty
[submodule "bundle/vim-colors-irdark"]
	path = bundle/vim-colors-irdark
	url = git://github.com/ryz/vim-colors-irdark.git
        ignore = dirty
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
        ignore = dirty
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
        ignore = dirty
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
        ignore = dirty
[submodule "bundle/vim-ctrlp"]
	path = bundle/vim-ctrlp
	url = git://github.com/kien/ctrlp.vim.git
        ignore = dirty
[submodule "bundle/vim-neocomplcache"]
	path = bundle/vim-neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
        ignore = dirty
[submodule "bundle/vim-ack"]
	path = bundle/vim-ack
	url = git://github.com/mileszs/ack.vim.git
        ignore = dirty
[submodule "bundle/vim-syntastic"]
	path = bundle/vim-syntastic
	url = git://github.com/scrooloose/syntastic.git
        ignore = dirty
[submodule "bundle/vim-neocomplcache-snippets"]
	path = bundle/vim-neocomplcache-snippets
	url = https://github.com/Shougo/neocomplcache-snippets-complete.git
        ignore = dirty
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
